
<link href="//vjs.zencdn.net/4.9/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.9/video.js"></script>
<link href="css/styles.css" type="text/css" rel="stylesheet" />

<h1>Course 1</h1>


<div class="video">

<video id="course1_video" class="video-js vjs-default-skin"
       preload="metadata" width="800" height="600"
       data-setup='{"controls":false}'>
  <source src="assets/course1.mp4" type='video/mp4' />
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>



<div id="textOverlay" class="questionnaire"></div>

<div id="quiz1" class="hide questionnaire">
  <i>What is this structure?</i>
  <ul class="unstyled">
    <li><a href="#" class="quiz1" data-answer="A">A) Adhesions</a></li>
    <li><a href="#" class="quiz1" data-answer="B">B) Posterior cystic artery</a></li>
    <li><a href="#" class="quiz1" data-answer="C">C) Right hepatic artery</a></li>
    <li><a href="#" class="quiz1" data-answer="D">D) Cystic duct</a></li>
  </ul>
</div>





<script type="application/javascript">
  $( document ).ready(function() {

    var overlayText = [
      { start: 300, end: 307, quiz: false, text: 'The cystic artery has been clipped and divided, and the surgeon zooms back for a wider view.cdddddddddddddddddddddddddddd sdd fa sdf af adf afd adf adsf adf adf afd '},
      { start: 310, quiz:true, layerId: 'quiz1', correctAnswer: 'B', slidesSource: 'someURL/' }
    ];

    var achievedQuizes = [];

    var player = videojs('course1_video');
    player.ready(function() {
      var myPlayer = this;
      myPlayer.on('loadedmetadata', function(){
        myPlayer.currentTime(5*60 + 5);
        myPlayer.play();
      });

      myPlayer.on('timeupdate', function() {
        var textSet = false;
        overlayText.forEach(function(text) {
          //console.log(myPlayer.currentTime());
		  
          if (myPlayer.currentTime() >= text.start) {
		  
		  if (myPlayer.currentTime() <= text.end) {
            if (!text.quiz) {
              $('#textOverlay').text(text.text);
              textSet = true;
            }
          }

          if (myPlayer.currentTime() >= text.start && text.quiz === true && achievedQuizes.indexOf(text.layerId) == -1) {
            myPlayer.pause();
            $('#' + text.layerId).removeClass('hide');
          }
		  }
        });
        if (!textSet) { $('#textOverlay').text(''); }
      });

      $('.quiz1').click(function() {
        var item = this;
        var quiz = overlayText.filter(function(item) { return item.layerId === 'quiz1' })[0];
        if (quiz) {
          var answer = $(item).attr('data-answer');
          if (quiz.correctAnswer === answer) {
            alert('Congratulation, this is correct! Let\'s go on!');
            $('#quiz1').hide();
            achievedQuizes.push('quiz1');
            myPlayer.play();
          }
          else {
            alert('Uhh, not quite');
          }
        }
      })
    });
  });
</script>
