body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.wrapper{
	z-index: 0;
}

.questionnaire{
    position: absolute;
	text-align: center;
	z-index: 2;
	background-color: green;
	
}
.video {
    position: absolute;
	z-index: 1;
	
}
